#### 1. Import pandas library

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### 2. Import users table:

In [6]:
users_df = pd.read_csv("users_table.csv")
users_df.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\r\n\r\n<p>...",0,5007,1920,-1,NaN,NaN
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,NaN
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,NaN
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\r\n\r\n<p>...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,NaN

#### 3. Rename Id column to userId

In [8]:
users_df = users_df.rename(columns={"Id": "user_Id"})

#### 4. Import posts table:

In [9]:
posts_df = pd.read_csv("posts_table.csv")
posts_df.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaN,NaN,NaN,NaN,NaN
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaN,NaN,NaN
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,NaN,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaN,NaN,NaN

#### 5. Rename Id column to postId and OwnerUserId to userId

In [10]:
posts_df = posts_df.rename(columns={"Id": "post_Id", "OwnerUserId": "user_Id"})

#### 6. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userId,ViewCount,CommentCount

In [11]:
Users_columns_df = users_df[['user_Id', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
posts_columns_df = posts_df[['post_Id', 'user_Id', 'Score', 'ViewCount', 'CommentCount']]

#### 7. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [53]:
new_df = pd.merge(Users_columns_df, posts_columns_df, on= "user_Id", how="inner")

In [54]:
posts_columns_df[['ViewCount']]

       ViewCount
0         1278.0
1         8198.0
2         3613.0
3         5224.0
4            NaN
...          ...
39995        NaN
39996        NaN
39997        NaN
39998        NaN
39999      116.0

[40000 rows x 1 columns]

#### 8. How many missing values do you have in your merged dataframe? On which columns?

In [55]:
new_df.head()

,user_Id,Reputation,Views,UpVotes,DownVotes,post_Id,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0

In [56]:
missing_vals = new_df.isnull()
print(missing_vals.sum())
print(f'\n{new_df.isnull().any(axis=1)}')

user_Id             0
Reputation          0
Views               0
UpVotes             0
DownVotes           0
post_Id             0
Score               0
ViewCount       23572
CommentCount        0
dtype: int64

0         True
1         True
2         True
3         True
4         True
         ...
38957    False
38958    False
38959    False
38960    False
38961     True
Length: 38962, dtype: bool

#### 9. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [ ]:
"""
with inner join, we only get the rows where there is a match in both dataframes.
so if there are any user_Id in the posts_columns_df that do not have a match in the Users_columns_df, those rows will be excluded from the resulting new_df.
and for the missing values I can only either fill them or drop them, 
but I will not be able to get the original values back, so I will have to make a decision on how to handle the missing values based on the context of the data and the analysis I want to perform.
unless NAN means that the post has no views, then I can fill the missing values with 0, but if NAN means that the post has not been viewed yet, then I can fill the missing values with the mean or median of the ViewCount column.
"""

'\nwith inner join, we only get the rows where there is a match in both dataframes.\nso if there are any user_Id in the posts_columns_df that do not have a match in the Users_columns_df, those rows will be excluded from the resulting new_df.\nand for the missing values I can only either fill them or drop them, \nbut I will not be able to get the original values back, so I will have to make a decision on how to handle the missing values based on the context of the data and the analysis I want to perform.\n'

In [57]:
new_df['ViewCount'].isnull().mean()

0.6049997433396643

In [58]:
posts_columns_df[['ViewCount']]

       ViewCount
0         1278.0
1         8198.0
2         3613.0
3         5224.0
4            NaN
...          ...
39995        NaN
39996        NaN
39997        NaN
39998        NaN
39999      116.0

[40000 rows x 1 columns]

In [31]:
"""
Froim this analysis we can see that the missing values in the ViewCount means that the post was not viewed yet we can fill it with 0.
"""

'\nFroim this analysis we can see that the missing values in the ViewCount means that the post was not viewed yet we can fill it with 0.\n'

In [63]:
new_df = new_df.fillna(int(0))
new_df.head()

,user_Id,Reputation,Views,UpVotes,DownVotes,post_Id,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0,0
1,-1,1,0,5007,1920,8576,0,0,0
2,-1,1,0,5007,1920,8578,0,0,0
3,-1,1,0,5007,1920,8981,0,0,0
4,-1,1,0,5007,1920,8982,0,0,0

#### 10. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [64]:
new_df.dtypes

user_Id         int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
post_Id         int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object

In [65]:
new_df.head()

,user_Id,Reputation,Views,UpVotes,DownVotes,post_Id,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0,0
1,-1,1,0,5007,1920,8576,0,0,0
2,-1,1,0,5007,1920,8578,0,0,0
3,-1,1,0,5007,1920,8981,0,0,0
4,-1,1,0,5007,1920,8982,0,0,0

In [ ]:


new_df['ViewCount'] = new_df['ViewCount'].astype('int64')
new_df.dtypes

user_Id         int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
post_Id         int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object